<?xml version="1.0"?>

<configuration>
 
  <system.web>
    <httpRuntime />
    <compilation defaultLanguage="c#" debug="true" tempDirectory="D:\Plesk\Vhosts\karnavatiengineering.com\tmp" />
  </system.web>
  <appSettings />
  <system.webServer>  
    <rewrite>
      <rules>
	  <rule name="RedirectHomePattern" stopProcessing="true">
  <match url=".*home.*" />
  <action type="Redirect" url="https://www.karnavatiengineering.com/" redirectType="Permanent" />
</rule>
        <rule name="CanonicalHostNameRule1" stopProcessing="true">
          <match url="Default\.aspx(?:l)?" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="karnavatiengineering\.com$" />
          </conditions>
          <action type="Redirect" url="https://www.karnavatiengineering.com/" />
        </rule>
        <rule name="CanonicalHostNameRule2" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^karnavatiengineering\.com$" />
          </conditions>
          <action type="Redirect" url="https://www.karnavatiengineering.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
   
    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".m4v" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".wmv" />
      <mimeMap fileExtension=".wmv" mimeType="video/wmv" />
    </staticContent>
  </system.webServer>
</configuration>